<div class="wrapper">
  <div class="shading_filter">

  <app-language-bar></app-language-bar>
  <app-navigation-bar></app-navigation-bar>


<!-- <p>ABOUT ME!!</p> -->

<div class="about_me">
  <!-- <p>ABOUT ME!!</p> -->
  <img src='../../assets/NickPettyjohn_image.jpg' class="nick_portrait" alt="image of Nick" >
  <div class="description">
    <h1 *ngIf="language=='english'">Hello!</h1>
    <h1 *ngIf="language=='espanol'">¡Hola!</h1>
    <p *ngIf="language=='english'">
      I'm Nick. I work as a web developer and financial analyst. I'm originally
      from Western Washington, I went to college in Idaho, and studied in Bilbao,
      Spain for a while. Now, I live and work in Spokane, Washington. I
      believe Bitcoin and technologies like it have the power to radically reshape
      the way we interact with one another (in a good way). If you need help with
      a web site or just want to get to know me better, please feel free to
      <a [routerLink]="['','contact-me']">reach out</a>.
    </p>
    <p *ngIf="language=='espanol'">
      Soy Nick. Trabajo como desarollador web y analista financiero. Originalmente, soy
      del estado de Washington, pero asistí a la universidad en el estado de Idaho y estudié en Bilbao,
      España por un rato. Ahora, vivo y trabajo en Spokane, Washington. Creo que
      Bitcoin y tecnologías como esta tiene el poder de remodelar radicalmente la manera
      en cual nos interactuamos (en una manera buena). Si necesitas ayuda con
      un sitio web o quieres conocerme mejor, por favor no dudes en
      <a [routerLink]="['','contact-me']">contactarme</a>.
    </p>
  </div>

  <!-- <img src='../../assets/NickPettyjohn_image.jpg' class="nick_portrait" alt="image of Nick" > -->
</div>



  </div>
</div>
