<div class="nav_bar">
  <a *ngIf="language=='english'" [routerLink]="['','home']" routerLinkActive="active-link">Home</a>
  <a *ngIf="language=='english'" [routerLink]="['','about-me']" routerLinkActive="active-link">About Me</a>
  <a *ngIf="language=='english'" [routerLink]="['','portfolio']" routerLinkActive="active-link">Portfolio</a>
  <a *ngIf="language=='english'" [routerLink]="['','resume']" routerLinkActive="active-link">Résumé</a>
  <a *ngIf="language=='english'" [routerLink]="['','contact-me']" routerLinkActive="active-link">Contact Me</a>

  <a *ngIf="language=='espanol'" [routerLink]="['','home']" routerLinkActive="active-link">Hogar</a>
  <a *ngIf="language=='espanol'" [routerLink]="['','about-me']" routerLinkActive="active-link">Sobre Mí</a>
  <a *ngIf="language=='espanol'" [routerLink]="['','portfolio']" routerLinkActive="active-link">Carpeta</a>
  <a *ngIf="language=='espanol'" [routerLink]="['','resume']" routerLinkActive="active-link">Currículum</a>
  <a *ngIf="language=='espanol'" [routerLink]="['','contact-me']" routerLinkActive="active-link">Contáctarme</a>
</div>
