
<div class="wrapper">
  <div class="shading_filter">

<!-- <app-site-theme> -->

  <app-language-bar></app-language-bar>
  <app-navigation-bar></app-navigation-bar>

  <div class="intro">
    <h1>Nick Pettyjohn</h1>
    <p *ngIf="language=='english'" >Software Developer. Traveler. Cryptocurrency Nerd.</p>
    <p *ngIf="language=='espanol'" >Desarrollador de Software. Viajero. Nerd de Criptomonedas.</p>
  </div>

<!-- </app-site-theme> -->




    <!-- <img src='../../assets/NickPettyjohn_image.jpg' class="nick_portrait" alt="image of Nick" > -->

    <!-- <div class="intro">
      <h1>Nick Pettyjohn</h1>
      <p>Financial Analyst. Web Developer. Cryptocurrency enthusiast.</p>
    </div> -->




  </div>
</div>
