<div class="wrapper">
  <div class="shading_filter">

<!-- <app-site-theme> -->
  <app-language-bar></app-language-bar>
  <app-navigation-bar></app-navigation-bar>


<!-- <p>RÉSUMÉ!!</p> -->

<!-- <object type="application/pdf" data="../../assets/Resume 02.22.18.pdf">
  <p>
    <b>
      Example fallback content
    </b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.
  </p>
</object> -->



<object data="../../assets/Resume 11.11.18.pdf#toolbar=0&navpanes=0&scrollbar=0&zoom=scale&view=Fit"  >
<iframe src="../../assets/Resume 11.11.18.pdf" style="border: none;">
This browser does not support PDFs. Please download the PDF to view it: <a href="../../assets/Resume 11.11.18.pdf">Download PDF</a>
</iframe>
</object>


  </div>
</div>

<!-- <app-navigation-bar></app-navigation-bar> -->
