/* You can add global styles to this file, and also import other style files */
* {
margin: 0;
padding: 0;
}
body, html {
    height: 100%;
}
.wrapper{
  height: 100%;
  background-image: url(assets/landing_page_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   }
.shading_filter{
  padding-top: 0.1px;
  height: 100%;
  width: 100%;
  background: rgba(1, 1, 1, .6);
}
h1{
  color: white;
  /* font-size: 10vw; */
  font-size: 10vmin;
  font-weight: lighter;
  margin-bottom: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p, label{
  color: white;
  /* font-size: 18pt; */
  /* font-size: 2.3vw; */
  font-size: 2.3vmin;
  font-weight: lighter;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
